<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoku.platform.demo.single"
    android:versionCode="2011"
    android:versionName="2.0.11">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="8" />

    <application
        android:name="com.duoku.platform.demo.single.DemoApplication"
        android:icon="@drawable/ic_icon"
        android:debuggable="true"
        android:label="@string/app_name" >
        <meta-data android:name="dksdk_appid" android:value="4110" />
        <meta-data android:name="dksdk_appkey" android:value="b80b8ecead42c8678537d282096df15c" />
        <meta-data android:name="dksdk_appsecret" android:value="828e3bd4c3c9903cbde222e2d6e51920" />
        <meta-data android:name="dksdk_channel" android:value="13744" />
        <meta-data android:name="dksdk_ver" android:value="2011"/>

        <activity android:name=".MiguActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboard|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.duoku.platform.demo.single.GameMainActivity"
            android:configChanges="orientation|keyboardHidden" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait">
          <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
           <!-- <intent-filter>
				<action android:name="android.intent.action.CHINAMOBILE_OMS_GAME" />
				<category android:name="android.intent.category.CHINAMOBILE_GAMES" />
			</intent-filter>-->
           
        </activity>

		 <!-- 咪咕基地支付start-->
        <activity
            android:name="cn.cmgame.billing.api.GameOpenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboard|screenSize"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.CHINAMOBILE_OMS_GAME" />
                <category android:name="android.intent.category.CHINAMOBILE_GAMES" />
            </intent-filter>
        </activity>
        <activity android:name="cn.cmgame2_0.launch_model.shortcut.main.MiguHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
        </activity>
		 <!-- 咪咕基地支付 end-->
        
        <!-- 不需要横竖屏 -->
        <activity
            android:name="com.duoku.platform.demo.single.GamePropsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" 
            android:configChanges="orientation|keyboardHidden|navigation" 
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.duoku.platform.demo.single.GameRechargeActivity"
                android:configChanges="orientation|keyboardHidden|navigation" 
            android:screenOrientation="portrait"/>
        <!-- SDK -->
        <activity
            android:name="com.duoku.platform.single.ui.DKContainerActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@style/DK.Theme.NoBackGround.NoAnimation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.duoku.platform.single.ui.DKRecommendActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@style/DK.Theme.NoBackGround.NoAnimation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.duoku.platform.single.ui.DKStartDownloadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/dksdk_theme_dialog"
            android:screenOrientation="portrait"/>
		<activity
            android:name="com.duoku.platform.single.ui.DKLotteryDrawActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@style/DK.Theme.NoBackGround.NoAnimation"
            android:screenOrientation="portrait">
        </activity>
        
		<activity
            android:name="com.duoku.platform.single.bdpass.DKAccountContainerActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@style/DK.Theme.NoBackGround.NoAnimation"
            android:screenOrientation="portrait">
        </activity>
		
        <!-- alipay sdk begin -->
         <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- alipay sdk end -->
        
        <!-- 聚合微信支付 start -->
        <activity
            android:name="com.ipaynow.wechatpay.plugin.inner_plugin.wechat_plugin.activity.WeChatNotifyActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|smallestScreenSize|locale|screenLayout"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <!-- 聚合微信支付 end -->
        
        
        <!-- for weixin plugin -->
        <activity 
            android:name="com.baidu.platformsdk.wxpay.PayActivity"
            android:configChanges="orientation|navigation"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- for weixin plugin end -->
        
        
        <!-- 联通沃商店支付 Start -->
	        <activity 	android:name="com.unicom.wostore.unipay.paysecurity.SecurityActivity"
	            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
	            android:configChanges="screenSize|orientation"
	            android:screenOrientation="portrait">
			</activity>

			<service  android:name="com.unicom.wostore.unipay.paysecurity.SecurityServiceFramework"/>

        <!-- 联通沃商店支付 End-->

        <!-- ###################### push sdk start ############################ -->
        <!-- push service client -->
        <receiver android:name="com.duoku.platform.single.receiver.PushMessageReceiver">
            <intent-filter
                android:priority="2147483647"
                >
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        
         <!-- push receiver和service -->
		<receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
		    android:process=":bdservice_v1" >
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		        <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
		        <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
		        <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
		        <action android:name="android.intent.action.MEDIA_MOUNTED" />
		        <action android:name="android.intent.action.USER_PRESENT" />
		        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
		        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
		    </intent-filter>
		</receiver>

		<receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
		    android:process=":bdservice_v1" >
		    <intent-filter>
		        <action android:name="com.baidu.android.pushservice.action.METHOD" />
		        <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
		    </intent-filter>
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_REMOVED" />
		        <data android:scheme="package" />
		    </intent-filter>
		</receiver>

        
		<service android:name="com.baidu.android.pushservice.PushService" android:exported="true"
		    android:process=":bdservice_v1" >
		    <intent-filter >
		            <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
		    </intent-filter>
		</service>        
		<service android:name="com.baidu.android.pushservice.CommandService"
		    android:exported="true" />

		<!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
		<provider
		    android:name="com.baidu.android.pushservice.PushInfoProvider"
		    android:authorities="com.duoku.platform.demo.single.bdpush"
		    android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.duoku.platform.demo.single"
		    android:protectionLevel = "signature"
		    android:exported="true" />
		
         <!-- push receiver和service end -->

        <service android:name="com.duoku.platform.single.gameplus.service.GPDownloadService" 
            android:process="com.baidu.platform.gameplus.service"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.baidu.platform.gameplus.service" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="com.duoku.platform.single.gameplus.install.GPSilentInstallService"/>
        <receiver android:name="com.duoku.platform.single.gameplus.broadcast.GPNotificaionReceiver">
            <intent-filter>
                <action android:name="baidu.platform.gameplus.intent.action.CANCLE_NOTIFICATION"/>
                <action android:name="baidu.platform.gameplus.intent.action.DO_NOTIFICATION_CLICK"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" /> 
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

       <!--  <service
            android:name="cn.cmgame.billing.service.GameService">
        </service> -->

    </application>

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- push sdk start -->
	<!-- 富媒体需要声明的权限 -->
	<uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
	
	<!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
	<uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.duoku.platform.demo.single" />
	<permission
	        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.duoku.platform.demo.single"
	        android:protectionLevel="normal">
	</permission>
    
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--############################ push sdk end ############################-->
    
    
    
     <!-- for gameplus start -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- for gameplus end -->
    
	<uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--咪咕基地-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

</manifest>